
.navHeader {
    justify-content: center;
    background-color: #000000;
    align-items: center;
    margin-bottom: auto;
}

.container {
  width: 100%;
}
.navTitle {
    /* justify-content: center; */
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}


a:hover {
    text-decoration: none;
    color: #995858
}

.pageBtns {
    text-align: right;
    padding: 1%;
}

.loginBtn {
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}

.logoutBtn {
  color: whitesmoke;
}


.cartBtn {
    text-decoration: none;
    color: whitesmoke;
}
